$breakpoint-phone-small: 320px;
$breakpoint-phone-medium: 425px;
$breakpoint-phone-large: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 1024px;
$breakpoint-desktop-medium: 1200px;
$breakpoint-desktop-large: 1400px;
$breakpoint-desktop-extra-large: 1800px;
