@use 'sass:color';

$color-white: #fff5eb;
$color-grey: #afb5c0;
$color-detail: #afb5c048;
$color-muted: #211f3b88;
$color-blue: #211f3b;
$color-orange: #de6e4b;

$color-brand: $color-orange;
$color-text: $color-blue;
$color-frosted: #fff5ebaa;
$color-frosted-high: #fff5ebcc;

$color-action: $color-brand;
$color-action-hover: color.adjust(
  $color: $color-action,
  $lightness: 5%,
);
