$shadow-floating: 0 1px 2px
    fade-out(
      $color: $color-blue,
      $amount: 0.8,
    ),
  0 2px 8px
    fade-out(
      $color: $color-blue,
      $amount: 0.88,
    ),
  0 4px 32px
    fade-out(
      $color: $color-blue,
      $amount: 0.96,
    );

$shadow-floating-high: 0 1px 4px
    fade-out(
      $color: $color-blue,
      $amount: 0.8,
    ),
  0 2px 12px
    fade-out(
      $color: $color-blue,
      $amount: 0.8,
    ),
  0 4px 64px
    fade-out(
      $color: $color-blue,
      $amount: 0.88,
    );

$shadow-navigation: 0 4px 96px
  fade-out(
    $color: $color-blue,
    $amount: 0.48,
  );
