@import '../functions/rem';

$font-family: 'Inter', 'Helvetica', system-ui;

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$font-size-caption: 0.88rem;
$font-size-label: 0.618rem;
$font-size-body: clamp(1rem, calc(0.11vw + 1rem), 1.25rem);
$font-size-lead: clamp(1.25rem, calc(0.8vw + 1rem), 2.618rem);
$font-size-subtitle: clamp(1.618rem, calc(2vw + 1rem), 2.618rem);
$font-size-title: clamp(2.618rem, calc(4vw + 1rem), 4.236rem);
$font-size-jumbo: clamp(4.236rem, calc(7vw + 1rem), 6.854rem);
