@import '../functions/rem';

$font-family: 'Inter', 'Helvetica', system-ui;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-size-caption: clamp(0.563rem, 1vw + 0.563rem, 1rem);
$font-size-body: clamp(1.125rem, 0.422vw + 1rem, 1.777rem);
$font-size-subtitle: clamp(1.333rem, 1vw + 1.333rem, 2.369rem);
$font-size-title: clamp(1.777rem, 1vw + 1.777rem, 3.157rem);
$font-size-jumbo: clamp(2.369rem, 2.369vw + 2.369rem, 4.209rem);
