<section class="author">
  <div class="wrapper">
    <figure class="author__figure">
      <img src="/static_assets/images/pedro-pinto@2x.png" alt="Pedro Pinto" class="author__photo">
      <figcaption class="author__caption">Pedro Pinto</figcaption>
      <img src="/static_assets/images/signature@2x.png" alt="Pedro Pinto’s signature" class="author__signature">
    </figure>

    <div class="author__text-wrapper">
      <h2 class="author__heading">Diversão. Com limites.</h2>
      <p class="author__text">
        A missão é fazer chegar, a pessoas potencialmente alheias ao mundo automóvel, uma visão singular, séria, com muito bom senso e alguma diversão à mistura, tudo aquilo que conheço e em que acredito deste mundo.
        Este objecto nasce da minha paixão pelos automóveis, pela fotografia, e naturalmente pela escrita, aliados aos meus conhecimentos profissionais.
        Tendo trabalhado para a web nos últimos +10 anos e ainda que não seja tecnicamente nem engenheiro nem artista, sou uma mistura muito saudável de ambos.
      </p>
    </div>
  </div>
</section>
