{% if post.data.category %}
  {% set category = post.data.category %}
{% endif %}
{% if post.data.make %}
  {% set make = post.data.make %}
{% endif %}

<ul class="
  categories
  {% if categoriesOptions.theme %}
  categories--{{ categoriesOptions.theme }}
  {% endif %}
  {% if categoriesOptions.links == false %}
  categories--no-links
  {% endif %}
">
  {% if category %}
    <li class="categories__item">
      {% if categoriesOptions.links != false %}
        <a href="/{{ category | slug }}/" class="categories__link">
      {% endif %}
        {{ category }}
      {% if categoriesOptions.links != false %}
        </a>
      {% endif %}
    </li>
  {% endif %}

  {% if make and categoriesOptions.wantsMake != false %}
    <li class="categories__item">
      {% if categoriesOptions.links != false %}
        <a href="/{{ category | slug }}/{{ make | slug }}/" class="categories__link">
      {% endif %}
        {{ make }}
      {% if categoriesOptions.links != false %}
        </a>
      {% endif %}
    </li>
  {% endif %}
</ul>
