{% if post.data.categories %}
  {% set categories = post.data.categories %}
{% endif %}
{% if post.data.make %}
  {% set make = post.data.make %}
{% endif %}

<ul class="
  categories
  {% if categoriesOptions.theme %}
  categories--{{ categoriesOptions.theme }}
  {% endif %}
  {% if categoriesOptions.links == false %}
  categories--no-links
  {% endif %}
">
  {% for category in categories %}
    <li class="categories__item">
      {% if categoriesOptions.links != false %}
        <a href="/categoria/{{ category | slug }}/" class="categories__link">
      {% endif %}
        {{ category }}
      {% if categoriesOptions.links != false %}
        </a>
      {% endif %}
    </li>
  {% endfor %}

  {% if make %}
    <li class="categories__item">
      {% if categoriesOptions.links != false %}
        <a href="/marca/{{ make | slug }}/" class="categories__link">
      {% endif %}
        {{ make }}
      {% if categoriesOptions.links != false %}
        </a>
      {% endif %}
    </li>
  {% endif %}
</ul>
