<footer class="footer" data-app-target="footer">
  <div class="wrapper">
    <img draggable="false" src="/static_assets/images/semanticar-logo-wire.svg" alt="Semanticar logo" class="footer__logo-wire">

    <div class="footer__text">
      <img draggable="false" src="/static_assets/images/semanticar-logo.svg" alt="Semanticar logo" class="footer__logo">
      <p class="footer__blurb">
        Uma análise singular do mundo automóvel, com uma perspectiva racional e um toque emocional.<br>
        Movidos pela paixão, guiados pela razão.
      </p>
    </div>

    <ul class="footer__columns">
      <li class="footer__col">
        <p class="footer__label">Categorias</p>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="/ensaio/" class="footer__link" data-event-category="footer" data-event-label="ensaio">Ensaio</a>
          </li>
          <li class="footer__item">
            <a href="/opiniao/" class="footer__link" data-event-category="footer" data-event-label="opiniao">Opinião</a>
          </li>
          <li class="footer__item">
            <a href="/atualidade/" class="footer__link" data-event-category="footer" data-event-label="atualidade">Atualidade</a>
          </li>
        </ul>
      </li>

      <li class="footer__col">
        <p class="footer__label">Redes</p>
        <ul class="footer__list">
          <li class="footer__item">
            <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/{{ site.social.twitter }}" class="footer__link" data-event-category="footer" data-event-label="twitter">Twitter</a>
          </li>
          <li class="footer__item">
            <a rel="noopener noreferrer" target="_blank" href="https://instagram.com/{{ site.social.instagram }}" class="footer__link" data-event-category="footer" data-event-label="instagram">Instagram</a>
          </li>
        </ul>
      </li>

      <li class="footer__col">
        <p class="footer__label">Contacto</p>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="mailto:{{ site.email }}" class="footer__link" data-event-category="footer" data-event-label="email">Email</a>
          </li>
        </ul>
      </li>

      <li class="footer__col">
        <p class="footer__label">Legal</p>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="/privacidade/" class="footer__link" data-event-category="footer" data-event-label="privacy">Política de Privacidade</a>
          </li>
          <li class="footer__item">
            <a href="/termos/" class="footer__link" data-event-category="footer" data-event-label="terms">Termos e Condições</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="footer__bottom">
      <p class="footer__copyright">
        © 2023 <a href="/" class="footer__link-semanticar" data-event-category="footer" data-event-label="copyright">{{ site.brand }}</a>. Todos os direitos reservados.
      </p>

      <a href="/feed.xml" class="footer__subscribe" data-action="click->app#subscribe" data-event-category="subscribe" data-event-label="footer">
        <img src="/static_assets/icons/rss.svg" alt="RSS icon" class="footer__subscribe-icon">

        <div class="footer__subscribe-text">
          <span>Subscrever</span>
          <span>RSS • 0.00€</span>
        </div>
      </a>
    </div>
  </div>
</footer>
