<section class="hero">
  <div class="hero__background">
    <img class="hero__image" src="/static_assets/images/hero@2x.jpg" alt="a white car parker on a green garden next to a wooden storage">
  </div>

  <h1 class="hero__heading">se<i class="hero__bullet"></i>man<i class="hero__bullet"></i>ti<i class="hero__bullet"></i>car</h1>

  <div class="hero__text">
    <p class="hero__blurb">Uma análise singular do mundo automóvel, com uma perspectiva racional e um toque emocional.</p>
    <p class="hero__since">Desde 2023</p>

    <a href="#autor" class="hero__cta">Diz-me mais</a>
  </div>

  {% include "_stats.njk" %}
</section>
