<section class="highlights is-visible" data-app-target="highlights">
  <div class="wrapper">
    <ul class="highlights__list">
      <li class="highlights__item">
        <div class="highlights__item-wrapper">
          <p class="highlights__title">Segmento</p>
          <p class="highlights__value">{{ specs.type }}</p>
        </div>
      </li>
      <li class="highlights__item">
        <div class="highlights__item-wrapper">
          <p class="highlights__title">Motor</p>
          <p class="highlights__value">{{ specs.engine }}</p>
        </div>
      </li>
      <li class="highlights__item">
        <div class="highlights__item-wrapper">
          <p class="highlights__title">Potência</p>
          <p class="highlights__value">{{ specs.power }} cv</p>
        </div>
      </li>
      <li class="highlights__item">
        <div class="highlights__item-wrapper">
          <p class="highlights__title">Peso</p>
          <p class="highlights__value">{{ specs.weight }} kg</p>
        </div>
      </li>
      <li class="highlights__item">
        <div class="highlights__item-wrapper">
          <p class="highlights__title">Transmissão</p>
          <p class="highlights__value">{{ specs.transmission }}</p>
        </div>
      </li>
      <li class="highlights__item">
        <div class="highlights__item-wrapper">
          <p class="highlights__title">Autonomia</p>
          <p class="highlights__value">{{ specs.range }} km</p>
        </div>
      </li>
    </ul>
  </div>
</section>
