<nav class="pagination">
  <a href="{{ pagination.href.previous }}#posts" class="pagination__button pagination__button--previous {% if not pagination.href.previous %}pagination__button--disabled{% endif %}" {% if not pagination.href.previous %}tabindex="-1"{% endif %}>
    <img src="/static_assets/icons/caret.svg" alt="caret icon" class="pagination__icon">
    <span class="pagination__label">Página</span>
    <span class="pagination__page">Anterior</span>
  </a>

  <a href="{{ pagination.href.next }}#posts" class="pagination__button pagination__button--next {% if not pagination.href.next %}pagination__button--disabled{% endif %}" {% if not pagination.href.next %}tabindex="-1"{% endif %}>
    <img src="/static_assets/icons/caret.svg" alt="caret icon" class="pagination__icon">
    <span class="pagination__label">Página</span>
    <span class="pagination__page">Seguinte</span>
  </a>
</nav>
