<section class="subscribe-banner">
  <div class="wrapper">
    <img src="/static_assets/images/semanticar-logo-wire.svg" alt="Semanticar logo" class="subscribe-banner__background">

    <div class="subscribe-banner__text">
      <img src="/static_assets/icons/rss.svg" alt="RSS icon">
      <div>
        <h3 class="subscribe-banner__title">A melhor forma de não perderes novidades?</h3>
        <p class="subscribe-banner__lead">Subscrever a Semanticar através de RSS.</p>
        <p class="subscribe-banner__caption">É totalmente grátis. Para sempre.</p>
      </div>
    </div>

    <div class="subscribe-banner__cta-wrapper">
      <a href="/feed.xml" class="subscribe-banner__cta" data-action="click->app#subscribe" data-event-category="subscribe" data-event-label="banner">Subscrever</a>
    </div>
  </div>
</section>
