@mixin button-reset {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  line-height: normal;
  appearance: none;
  cursor: pointer;
}

// @mixin button {
//   @include text-body;

//   font-weight: $font-weight-semibold;
//   background-color: $color-white;
//   color: $color-text;
//   border-radius: units(4);
//   text-align: center;
//   padding: units(2) units(4);
//   text-decoration: none;
//   border: 1px solid $color-brand;
//   display: inline-block;
//   transition: transform $timings-fast ease-in-out;

//   @include media-hover {
//     &:hover {
//       transform: scale(1.1);
//     }
//   }

//   @include breakpoint-above-tablet {
//     @include text-subtitle;

//     border-radius: units(6);
//     padding: units(3) units(6);
//   }
// }
