@mixin grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: $grid-gutter;

  @include breakpoint-above-tablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: $grid-gutter;
  }

  @include breakpoint-above-desktop-small {
    grid-template-columns: repeat(12, 1fr);
  }
}
