@use 'sass:math';

// Caption
@mixin text-caption() {
  font-size: $font-size-caption;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

// Label
@mixin text-label() {
  font-size: $font-size-label;
  font-weight: $font-weight-bold;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

// Body
@mixin text-body() {
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

// Lead
@mixin text-lead() {
  font-size: $font-size-lead;
  font-weight: $font-weight-regular;
  line-height: 1.429;
  margin-top: 0;
  margin-bottom: 0;
}

// Subtitle
@mixin text-subtitle() {
  font-size: $font-size-subtitle;
  font-weight: $font-weight-extrabold;
  line-height: 1.333;
  margin: 0;
}

// Title
@mixin text-title() {
  font-size: $font-size-title;
  font-weight: $font-weight-extrabold;
  line-height: 1.125;
  margin: 0;
}

// Jumbo
@mixin text-jumbo() {
  font-size: $font-size-jumbo;
  font-weight: $font-weight-extrabold;
  line-height: 1.333;
  margin: 0;
}

// Link
@mixin text-link() {
  position: relative;

  // Underline
  &::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background-color: $color-brand;
    position: absolute;
    bottom: -5px;
    transition: width $timings-normal $ease-out-expo;
  }

  @include hover-and-focus {
    &::after {
      width: 100%;
    }
  }
}

// Markdown
@mixin text-markdown() {
  > p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  + p {
    margin-top: units(2);
  }

  h3,
  h2 {
    @include text-subtitle;

    margin-bottom: units(2);
  }

  h4 {
    @include text-lead;

    font-weight: $font-weight-bold;
    margin-bottom: units(2);
  }

  h2,
  h3,
  h4 {
    &:not(:first-child) {
      margin-top: units(7);
    }

    scroll-margin-top: units(14);
  }

  strong {
    font-weight: $font-weight-bold;
  }

  a {
    @include text-link;

    display: inline-block;
    line-height: 1;
    color: $color-action;
    text-decoration: none;
  }

  blockquote {
    @include text-lead;

    margin: 0;
    margin-top: units(3);
    margin-bottom: units(3);
    padding-left: units(2);
    border-left: 2px solid $color-action;

    @include breakpoint-above-tablet {
      margin-top: units(4);
      margin-bottom: units(4);
      padding-left: units(4);
    }

    @include breakpoint-above-desktop-small {
      margin-top: units(6);
      margin-bottom: units(6);
    }
  }

  ol li {
    &::marker {
      @include text-label;
    }
  }

  ol,
  ul {
    margin-left: 0;
    margin-bottom: units(3);
    padding-left: units(3);

    li {
      &:not(:last-child) {
        margin-bottom: units(1);
      }

      &::marker {
        color: $color-grey;
        font-weight: $font-weight-extrabold;
      }
    }
  }

  ul {
    list-style: circle;
  }

  hr {
    position: relative;
    margin-top: units(6);
    margin-bottom: units(6);
    border: 0;
    height: 1px;
    background-color: $color-detail;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: rem(-20px);
      left: calc(50% - #{rem(20px)});
      height: units(1);
      width: units(1);
      border-radius: 100%;
      background-color: $color-brand;
      border: units(2) solid $color-white;
      background-clip: padding-box;
    }
  }
}
