@use 'sass:math';

// Caption
@mixin text-caption() {
  font-size: $font-size-caption;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

// Label
@mixin text-label() {
  font-size: $font-size-label;
  font-weight: $font-weight-bold;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

// Body
@mixin text-body() {
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

// Lead
@mixin text-lead() {
  font-size: $font-size-lead;
  font-weight: $font-weight-regular;
  line-height: 1.429;
  margin-top: 0;
  margin-bottom: 0;
}

// Subtitle
@mixin text-subtitle() {
  font-size: $font-size-subtitle;
  font-weight: $font-weight-extrabold;
  line-height: 1.333;
  margin: 0;
}

// Title
@mixin text-title() {
  font-size: $font-size-title;
  font-weight: $font-weight-extrabold;
  line-height: 1.125;
  margin: 0;
}

// Jumbo
@mixin text-jumbo() {
  font-size: $font-size-jumbo;
  font-weight: $font-weight-extrabold;
  line-height: 1.333;
  margin: 0;
}

// Link
@mixin text-link() {
  position: relative;

  // Underline
  &::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background-color: $color-brand;
    position: absolute;
    bottom: -5px;
    transition: width $timings-normal $ease-out-expo;
  }

  @include hover-and-focus {
    &::after {
      width: 100%;
    }
  }
}

// Markdown
@mixin text-markdown() {
  p {
    margin: 0;

    + p {
      margin-top: units(2);
    }
  }

  h3 {
    @include text-subtitle;

    margin-bottom: units(2);
  }

  h4 {
    @include text-lead;

    font-weight: $font-weight-bold;
    margin-bottom: units(2);
  }

  h3,
  h4 {
    &:not(:first-child) {
      margin-top: units(7);
    }
  }

  strong {
    font-weight: $font-weight-bold;
  }

  a {
    @include text-link;

    display: inline-block;
    line-height: 1;
    color: $color-action;
    text-decoration: none;
  }
}
