<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    {% include "_metadata.njk" %}

    {% if build_data.env == 'production' %}
      {% include "_analytics.njk" %}
    {% endif %}

    <link rel="stylesheet" href="/static_assets/css/styles.css?{{ build_data.timestamp }}">
    {% if pageCss %}
      <link rel="stylesheet" href="/static_assets/css/pages/{{ pageCss }}.css?{{ build_data.timestamp }}">
    {% endif %}
  </head>
  <body class="{{ bodyClass }}" data-controller="app">
    {% include "_navigation.njk" %}

    <main class="{{ bodyClass }}__main">
      {{ content | safe }}
    </main>

    {% include "_footer.njk" %}

    <script async src="/static_assets/javascript/bundle.js?{{ build_data.timestamp }}"></script>
  </body>
</html>
