---
layout: base
bodyClass: post
pageCss: post
---

<article class="post__article">
  <div class="post__image-wrapper">
    {% image
      cover,
      title,
      "100vw",
      "post__image",
      false
    %}
  </div>

  {% include "_header.njk" %}

  {% include "_highlights.njk" %}

  <section class="post__content">
    <p class="post__excerpt">
      {{ excerpt }}
    </p>
    <div class="post__body">
      {{ content | safe }}
    </div>

    {% include "_share.njk" %}

    {% include "_sidebar.njk" %}
  </section>
</article>

{% include "_subscribe-banner.njk" %}

{# {% include "_post-grid.njk" %} #}
