---
layout: base
bodyClass: post
pageCss: post
---

<article class="post__article">
  <div class="post__image-wrapper">
    {% image
      cover,
      title,
      "100vw",
      "post__image",
      false
    %}
  </div>

  {% include "_header.njk" %}

  {% if make %}
    {% include "_highlights.njk" %}
  {% endif %}

  <section class="post__content">
    <div class="wrapper">
      <p class="post__excerpt">
        {{ excerpt }}
      </p>
      <div class="post__body">
        {{ content | safe }}
      </div>

      {% include "_share.njk" %}

      {% if make %}
        {% include "_sidebar.njk" %}
      {% endif %}
    </div>
  </section>
</article>

{% include "_gallery.njk" %}

{% include "_subscribe-banner.njk" %}

{% if related.length > 0 %}
{# {% include "_post-grid.njk" %} #}
{% endif %}
