---
layout: base
bodyClass: error
permalink: 404.html
pageCss: error
---

<header class="error__header">
  <div class="wrapper">
    <h1 class="error__title">Rua sem saída</h1>

    <h2 class="error__subtitle">Esta página não existe neste endereço, se é que alguma vez chegou a existir.</h2>
    <p class="error__hint">Erro 404</p>

    <a class="error__cta" href="/" data-event-category="error" data-event-label="go-home">Dá meia volta</a>
  </div>
</header>

