---js
{
  layout: "base",
  bodyClass: "category",
  pageCss: "category",
  permalink: "/{{ tagPage.tagName | slugify }}/{% if tagPage.pageNumber %}{{ tagPage.pageNumber + 1 }}/{% endif %}index.html",
  eleventyComputed: {
    title: "Artigos da categoria '{{ tagPage.tagName }}'",
    metadata: {
      description: "Todos os artigos da categoria '{{ tagPage.tagName }}' na Semanticar."
    },
  },
  pagination: {
    data: "collections.tagPagination",
    size: 1,
    alias: "tagPage",
    filter: ['all', 'post'],
    addAllPagesToCollections: true,
  }
}
---
{% set posts = tagPage.items | reverse %}

<div class="related">
  <div class="wrapper">
    <div class="related__inner">
      <p class="related__title">Todos os artigos da categoria</p>

      {% set categoriesOptions = { wantsMake: false } %}
      {% set category = tagPage.tagName %}
      {% include "_categories.njk" %}
    </div>
  </div>

  {% include "_post-grid.njk" %}
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "Artigos da categoria “{{ category }}”",
  "itemListElement": [
    {% for post in posts %}
    {
      "@type": "ListItem",
      "position": {{ loop.index }},
      "url": "{{ site.url }}{{ post.url }}",
      "name": "{{ post.data.title }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "{{ category | titleCase }}",
      "item": "{{ site.url }}/{{ category | slugify }}/"
    }
  ]
}
</script>
