* {
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  background-color: $color-white;
  color: $color-text;
  font-weight: $font-weight-regular;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

::selection {
  background-color: $color-muted;
  color: $color-white;
}

.wrapper {
  max-width: $global-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: unit(3);
  padding-right: unit(3);

  @include breakpoint-above-tablet {
    padding-left: unit(6);
    padding-right: unit(6);
  }

  @include breakpoint-above-desktop-medium {
    padding-left: unit(4);
    padding-right: unit(4);
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
