* {
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  background-color: $color-white;
  color: $color-text;
  font-weight: $font-weight-regular;
}

body.is-scroll-locked {
  overflow: hidden;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

::selection {
  background-color: $color-brand;
  color: $color-white;
}

.wrapper {
  // max-width: $global-max-width;
  // margin-left: auto;
  // margin-right: auto;
  padding-left: units(3);
  padding-right: units(3);

  @include breakpoint-above-tablet {
    padding-left: units(6);
    padding-right: units(6);
  }

  @include breakpoint-above-desktop-small {
    padding-left: 0;
    padding-right: 0;
  }

  // @include breakpoint-above-desktop-medium {
  //   padding-left: units(4);
  //   padding-right: units(4);
  // }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
