.highlights {
  @include grid-wrapper;

  padding-top: units(7);
  padding-bottom: units(7);
  background-color: $color-frosted-high;
  backdrop-filter: blur(32px);
  border-top: 1px solid $color-detail;
  border-bottom: 1px solid $color-detail;
  grid-column: 1 / span 12;

  .wrapper {
    @include breakpoint-above-desktop-small {
      grid-column: 2 / span 10;
    }
  }
}

.highlights__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.highlights__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(units(-2));
  transition: transform $timings-normal $ease-out-expo,
    opacity $timings-slow $ease-out-expo;
}

.highlights__item {
  &:nth-child(1) .highlights__item-wrapper {
    transition-delay: $timings-faster * 1;
  }

  &:nth-child(2) .highlights__item-wrapper {
    transition-delay: $timings-faster * 2;
  }

  &:nth-child(3) .highlights__item-wrapper {
    transition-delay: $timings-faster * 3;
  }

  &:nth-child(4) .highlights__item-wrapper {
    transition-delay: $timings-faster * 4;
  }

  &:nth-child(5) .highlights__item-wrapper {
    transition-delay: $timings-faster * 5;
  }

  &:nth-child(6) .highlights__item-wrapper {
    transition-delay: $timings-faster * 6;
  }
}

.highlights__title {
  @include text-label;

  margin-bottom: rem(4px);
}

.highlights__value {
  @include text-lead;
}

.highlights.is-visible {
  .highlights__item-wrapper {
    transform: translateY(0);
    opacity: 1;
  }
}
