.navigation {
  .wrapper {
    padding-top: units(3);
    padding-bottom: units(3);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// .navigation__home-link {}

.navigation__toggle {
  @include button-reset;

  transition: scale $timings-fast $ease-out-expo;

  @include hover-and-focus {
    scale: 1.1;
  }

  &:active {
    scale: 0.9;
  }
}

.navigation__panel {
  height: 100vh;
  width: clamp(20vw, rem(476px), 100vw);
  background-color: $color-frosted;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: units(3);
  padding-top: units(3);
  transform: translateX(100%);
  transition: transform $timings-slow $ease-out-expo,
    box-shadow $timings-slower $ease-out-expo;
  backdrop-filter: blur(8px);
  box-shadow: none;

  @include breakpoint-above-tablet {
    padding-right: units(6);
  }

  @include breakpoint-above-desktop-medium {
    padding-right: units(4);
  }

  @include breakpoint-max {
    width: 40vw;
    padding-right: calc((100vw - #{$global-max-width}) / 2 + #{units(4)});
  }
}

.navigation__list {
  padding: 0;
  padding-top: units(10);
  list-style: none;
  margin: 0;
  text-align: right;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.navigation__item {
  .navigation__list > & {
    margin-bottom: units(6);
  }

  .navigation__sub-list > & {
    &:not(:last-child) {
      margin-bottom: units(1);
    }
  }
}

.navigation__link {
  @include text-lead;

  text-decoration: none;
  flex-direction: column;
  align-items: flex-end;
  color: $color-text;
  position: relative;

  // Underline
  &::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background-color: $color-brand;
    position: absolute;
    bottom: -5px;
    transition: width $timings-normal $ease-out-expo;
  }

  @include hover-and-focus {
    &::after {
      width: 100%;
    }
  }
}

.navigation__link.is-active {
  font-weight: $font-weight-bold;

  // Bullet
  &::before {
    content: '';
    width: units(1);
    height: units(1);
    border-radius: 100%;
    background-color: $color-brand;
    margin-right: units(2);
    position: absolute;
    top: 0.4em;
    left: units(-3);
  }
}

.navigation__label {
  @include text-label;

  display: block;
  margin-bottom: units(1);
}

.navigation__sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.navigation.is-open {
  .navigation__panel {
    transform: translateX(0);
    box-shadow: $shadow-navigation;
  }
}
