@import '../includes/score';
@import '../includes/specs';

.sidebar {
  order: 3;
  display: flex;
  flex-direction: column;
  gap: units(5);
  margin-bottom: units(4);

  @include breakpoint-above-desktop-small {
    margin-bottom: units(10);
    gap: units(10);
    grid-column: 9 / span 3;
    grid-row: 1 / span 2;
  }
}

.sidebar--no-make {
  @include breakpoint-below-desktop-small {
    display: none;
  }
}
