.toc {
  position: sticky;
  background-color: $color-frosted;
  backdrop-filter: blur(16px);
  top: rem(80px);
  padding: units(3) units(3) units(2) units(3);
  margin-top: units(-3);
  margin-right: units(-3);
  margin-left: units(-3);
  z-index: 1;

  &:not(.is-visible) {
    display: none;
  }

  @include breakpoint-below-desktop-small {
    display: none;
  }
}

.toc__title {
  @include text-lead;

  margin-bottom: units(1);
}

.toc__list {
  @include text-caption;

  padding: 0;
  margin: 0;
  list-style: none;

  li {
    &:not(:last-child) {
      margin-bottom: units(1);
    }

    a {
      @include text-link;

      display: inline-block;
      line-height: 1;
      text-decoration: none;
      position: relative;
      color: $color-text;

      &.is-active {
        font-weight: $font-weight-bold;

        // Bullet
        &::before {
          content: '';
          width: rem(6px);
          height: rem(6px);
          border-radius: 100%;
          background-color: $color-brand;
          margin-right: 0;
          position: absolute;
          top: 0.3em;
          left: units(-2);
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    padding-left: units(2);
    margin-top: units(1);
    list-style: none;
  }
}
