---
permalink: /feed.xml
---
{%- set posts = collections.post | reverse -%}

<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>{{ site.url }}/feed.xml</id>
  <title>Semanticar</title>
  <subtitle>Uma análise singular do mundo automóvel, com uma perspectiva racional e um toque emocional.</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self" />
  <link href="{{ site.url }}" rel="alternate" />
  <icon>{{ site.url }}/static_assets/images/metadata/logo-512.png</icon>
  <updated>{{ build_data.date.toISOString() }}</updated>
  <rights>© {{ build_data.year }} Semanticar</rights>
  <author>
    <name>Pedro Pinto</name>
    <email>{{ site.email }}</email>
    <uri>{{ site.url }}</uri>
  </author>
  {%- for post in posts.slice(0, 10) %}
  <entry>
    <id>{{ site.url }}{{ post.url }}?utm_medium=rss&amp;utm_source=rss&amp;utm_campaign=rss</id>
    <link rel="alternate" href="{{ site.url }}{{ post.url }}?utm_medium=rss&amp;utm_source=rss&amp;utm_campaign=rss"/>
    <title>{{ post.data.title }}</title>
    <summary>{{ post.data.excerpt }}</summary>
    <published>{{ post.date.toISOString() }}</published>
    {% if post.data.update_date -%}
    <updated>{{ post.data.update_date.toISOString() }}</updated>
    {% else -%}
    <updated>{{ post.date.toISOString() }}</updated>
    {% endif -%}
    <content type="html">
      {% image
        post.data.cover,
        post.data.title,
        "(min-width: 1024px) 50vw, 100vw",
        "cover",
        true
      %}

      &lt;p&gt;{{ post.data.excerpt -}}&lt;/p&gt;

      &lt;p&gt;(Podes ver o artigo completo em &lt;a href=&quot;{{ site.url }}{{ post.url }}?utm_medium=rss&amp;utm_source=rss&amp;utm_campaign=rss&quot;&gt;{{ site.url }}{{ post.url }}&lt;/a&gt;)&lt;/p&gt;
    </content>
  </entry>
  {%- endfor %}
</feed>
