---
permalink: /robots.txt
---
# If you’re trying to hide a page from search results use the 'noindex' instead:
# https://developers.google.com/search/docs/advanced/crawling/block-indexing
#
# Please ensure you have gone through the documentation before editing:
# https://developers.google.com/search/reference/robots_txt
#
# In case of conflicts, the less restrictive rules will prevail.

Sitemap: https://semanticar.pt/sitemap.xml

User-agent: *
Disallow:
